* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
html {
  font-size: 62.5%;
 
  
}
.background {
  background-image: url("./img/background.jpeg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
body {
  font-family: "href= https://fonts.google.com/specimen/Goldman?query=goldman", cursive;
  color: black;
  min-height: 100vh;
  position: relative;
 }

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: sticky;
  top:0;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
.black {
  background-color: black;
}
.white {
  color: azure;
}
footer{
  width: 100vw;
  height: 15vh;
  background-color:#00a8c7 ;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.containerright {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.containerleft {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}



  


h1 {
  text-align: center;
  }


  li a {
    text-align: center;
    padding: 0.8rem 1rem;
    display: inline-block;
   }
  .dropdown-content {
    position: absolute;
    background-color: #e9e9e9;
    z-index: 1;
    box-shadow: 0rem 0.5rem 0.5rem 0rem rgba(0,0,0,0.2);
    padding: 0.5rem;

  display: none;
   
   
  }
  .dropdown-content a {
    color: blue;
    padding: 0.8rem 1rem;
    display: block;
    text-align: right;
       }
    .dropdown:hover .dropdown-content {
      display: block;
    }
     li a:hover {
      background-color: #e9e9e9;
     }
    
     .dropdown-content a:hover {
      background-color: black;
     }
 

 

