h1 { font-size: 24px;
    color: black;
    font-weight: bold;
    font-style: oblique;

}
h2 { font-size: 20px;
    color: #0000ff;
    font-weight: bold;

}
h3 { font-size: 16px;
    color: teal;
    font-weight: bold; 
}
p {color: #4d4d4d;

}
.paragraaf { font-weight: bold;
    color: black;

}
a {
    color: #8a2be2;
    text-decoration: none;
}
header{
    background-image: url( "./game5.img");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 35vh;
}
img{ width: 50vw;
}
article { border-style: dotted;
     border: 5px solid purple;
     border-left-style: solid ;
     border-left-width: 15px;
    
  

}